PORT=4000
APP_URL=http://localhost:5173
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=gestion_devis_factures
DB_PORT=3306
JWT_SECRET=change_moi_avec_une_valeur_longue_et_aleatoire
EMAIL_USER=votre_adresse@gmail.com
EMAIL_PASS=votre_mot_de_passe_application_gmail
